body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    max-width: 1600px;
    margin: auto;
    /* overflow-x: hidden; */
}

.cart-section{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.all-cart-products{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}.cart-product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
img{
    max-height: 150px;
}
.product-name-and-counter, .product-amounts{
    display: flex;
    flex-direction: column;
    line-height: 50px;
    font-size: 20px;
}
.product-name-and-counter{
    align-items: center;
}
.product-amounts{
    text-align: right;
}


/* floating sidebar */
.price-calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid orange;
    padding: 20px;
    /* height: fit-content; */
}
.price-calculator .total-name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.price-calculator .total-price{
    font-size: 15px;
    margin-bottom: 20px;
}
.price-calculator #checkout{
    background-color: darkorange;
    height: 58px;
    width: 300px;
    border: 2px solid darkorange;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    align-self: baseline;
}
.price-calculator #checkout a{
    text-decoration: none;
    color:white;
}
.price-calculator #checkout:hover{
    background-color: orange;
    transition: .5s;
}
/* floating sidebar end */




footer {
    background: url(https://images.unsplash.com/photo-1434682881908-b43d0467b798?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fGd5bXxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=1500&q=60);
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.footer-text {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

.footer-text h3 {
    font-size: 25px;
}

.footer-text h3 a {
    text-decoration: none;
    color: white;
}

.footer-text h3 a span {
    color: yellow;
}

.inner-footer-text {
    margin: 20px;
}

.inner-footer-text-icons {
    display: none;
}