@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('./fonts/ElephantFont/Elephant-Outline.otf');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    max-width: 1600px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
}

body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    max-width: 1600px;
    margin: auto;
    overflow-x: hidden;
}

header {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.left {
    font-size: 25px;
    line-height: 56.1px;
    max-width: 500px;
}

.left h1 {
    font-weight: 1200;
    text-align: left;
    margin-bottom: 3rem;
    line-height: 1.1;
}

.left h1 span {
    color: yellow;
}

.left p {
    line-height: 1.5;
    margin-bottom: 3rem;
}

.right {
    margin-right: 50px;
}

.right img {
    max-height: 450px;
}

a#nav-button {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    background: orange;
    text-decoration: none;
}

a#mail-button {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background: orange;
    text-decoration: none;
}

input {
    font-size: 17px;
    width: 65%;
    /* height: 22px; */
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    margin: 0;
    padding: 16.5px 18px;
    vertical-align: middle;
}

.newsletter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.back {
    position: relative;
}

.back:after {
    font-family: "elephantoutline";
    content: "Ronchez";
    position: absolute;
    font-size: 300px;
    z-index: -1;
    top: -100px;
    padding: -300px;
    margin: -100px;
    margin-top: -90px;
    margin-left: -200px;
    color: rgba(128, 128, 128, 0.158);
    overflow-y: hidden;
    animation: ronchez 25s infinite;
    animation-direction: alternate;
}

@keyframes ronchez {
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

.front {
    position: relative;
}

.front:after {
    font-family: "elephantoutline";
    content: "Fitness";
    position: absolute;
    font-size: 300px;
    z-index: -1;
    padding-top: 300px;
    margin-left: 600px;
    color: rgba(128, 128, 128, 0.227);
    overflow-y: hidden;
    margin-top: 30px;
    animation: fitness 25s infinite;
    animation-direction: alternate;
}

@keyframes fitness {
    0% {
        right: 0%;
    }
    25% {
        right: 25%;
    }
    50% {
        right: 50%;
    }
    75% {
        right: 75%;
    }
    100% {
        right: 100%;
    }
}